<div class="container">

  <div *ngIf="workoutDeleteMessage" class="alert alert-danger alert-dismissible fade show m-3" role="alert">
    {{ workoutDeleteMessage }}
    <button type="button" class="btn-close" aria-label="Close" (click)="workoutDeleteMessage = undefined"></button>
  </div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <!--The edit icon will route to the workout-details page and render all of the exercises within that workout-->
        <div *ngIf="workouts.length > 0">
            <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Workout Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let workout of workouts" (click)="editWorkout(workout.id!)">
                <td>{{ workout.name }}</td>
                <td>{{ workout.description }}</td>
                <td>
                  <a class="m-2" (click)="editWorkout(workout.id!)">
                    <i class="fas fa-edit fs-4"></i>
                  </a>
                  <a class="m-2" (click)="removeWorkout(workout.id!)">
                    <i class="fas fa-trash text-danger fs-4"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
      </div>
     
      
    <div *ngIf="workouts.length === 0" class="row">
        <div class="col-md-6">
            <h1>No workouts</h1>
        </div>
    </div>

</div>