<ng-container *ngIf="user$ | async as user">
  <ng-container *ngIf="isUserSet$ | async">
  <div class="d-flex align-items-center position-absolute top-0 end-0 m-2 profile-container">
    <div class="user-details">
      <div class="d-flex align-items-center mb-2">
        <img [src]="user?.avatar" alt="Avatar" class="rounded-circle me-3" style="width: 50px; height: 50px;" />
        <div class="fw-bold mb-1 text-light">{{ user?.firstName }} {{ user?.lastName }}</div>
      </div>
      <div class="d-flex flex-column bd-highlight mb-3">
        <div>
          <a routerLink="/update-profile" class="text-decoration-none text-light d-flex align-items-center">
            <i class="fas fa-wrench me-2"></i> Update Profile
          </a>
        </div>
        <div class="mt-1">
          <a (click)="handleLogout()" class="text-decoration-none text-light d-flex align-items-center" style="cursor: pointer;">
            <i class="fas fa-sign-out-alt me-2"></i> Log out
          </a>
        </div>
      </div>
    </div>
  </div>
  </ng-container>
</ng-container>