<form [formGroup]="exerciseFormGroup" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Add Exercise to Workout</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-8 mx-auto text-center">
            <img src="{{ exercise?.gifUrl }}" class="card-img-top mx-auto" style="width: 200px; height: auto"
                alt="{{ exercise?.name }}" />
            <h5>{{ exercise?.name }}</h5>
            <p>Target Muscle: {{ exercise?.target }}</p>
        </div>
    
        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="addSet()">Add set</button>
        <div formArrayName="sets" *ngFor="let set of sets.controls; index as i">
            <div [formGroupName]="i">
                <h3 class="mt-2">Set {{i+1}}</h3>
                <label for="reps">Reps:</label>
                <input type="text" class="form-control" formControlName="reps" />
                <label for="weight">Weight:</label>
                <input type="text" class="form-control" formControlName="weight" />
                <button type="button" class="btn btn-danger btn-sm mt-1" [disabled]="sets.length === 1" (click)="removeCurrentSet(i)">Delete</button>
            </div>
        </div> -->
        

         <div formArrayName="sets" *ngFor="let set of sets.controls; index as i">
            <div [formGroupName]="i">
                <h3 class="mt-2">Set</h3>
                <hr>
                <label for="reps">Reps:</label>
                <input type="text" class="form-control" formControlName="reps" />
                <label for="weight">Weight:</label>
                <input type="text" class="form-control" formControlName="weight" />
                <button type="button" class="btn btn-primary btn-sm mt-2" (click)="addSet()">Add set</button>
            </div>
        </div>
         
        <div class="mt-2">
            <h3>Sets:</h3>
            <hr>
        </div>
        <div *ngFor="let groupedSet of groupedSets(); index as i">
            <div class="mt-1">
                <span *ngIf="groupedSet.count > 1">{{ groupedSet.count }} sets X {{ groupedSet.set.reps }} reps @{{groupedSet.set.weight}}lb</span>
                <span *ngIf="groupedSet.count === 1">{{ groupedSet.count }} set X {{ groupedSet.set.reps }} reps @{{groupedSet.set.weight}}lb</span>
                <button type="button" class="btn btn-primary btn-sm ms-2" (click)="copyCurrentSet(groupedSet.set)"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-danger btn-sm ms-2" (click)="removeCurrentSet(groupedSet.set)"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="handleCancel()">Cancel</button>
        <button [disabled]="this.addedSets.length===0" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>