<form [formGroup]="exerciseFormGroup" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Add Exercise to Workout</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-8 mx-auto text-center">
            <img src="{{ exercise?.gifUrl }}" class="card-img-top mx-auto" style="width: 200px; height: auto"
                alt="{{ exercise?.name }}" />
            <h5>{{ exercise?.name }}</h5>
            <p>Target Muscle: {{ exercise?.target }}</p>
        </div>

         <div formArrayName="sets" *ngFor="let set of sets.controls; index as i">
            <div [formGroupName]="i">
                <h3 class="mt-2">Set</h3>
                <hr>
                <label for="reps">Reps:</label>
                <input type="number" min="0" class="form-control" formControlName="reps" />
                <div *ngIf="isRepsInvalid(i)" class="text-danger p-1 m-1" >
                    <ng-container *ngIf="hasError(i, 'reps', 'required')">
                        <div>
                          Reps is a required field
                        </div>
                      </ng-container>
                      <ng-container *ngIf="!hasError(i, 'reps', 'required') && 
                                            hasError(i, 'reps', 'min')">
                        <div>
                            Sets must have atleast 1 rep
                        </div>
                      </ng-container>
                      
                      <ng-container *ngIf="!hasError(i, 'reps', 'required') &&                    
                                            !hasError(i, 'reps', 'min') &&
                                            hasError(i, 'reps', 'max')">
                        <div>
                          Sets must not exceed 100 reps
                        </div>
                      </ng-container>
                  </div>
                <label for="weight">Weight:</label>
                <input type="number" min="0" class="form-control" formControlName="weight" />
                <div *ngIf="isWeightInvalid(i)" class="text-danger p-1 m-1" >
                    <ng-container *ngIf="hasError(i, 'weight', 'required')">
                        <div>
                        Weight is a required field
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!hasError(i, 'weight', 'required') && 
                                            hasError(i, 'weight', 'min')">
                        <div>
                        Weight must be greater than 0 lbs
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!hasError(i, 'weight', 'required') && 
                                            !hasError(i, 'weight', 'min') &&                   
                                            hasError(i, 'weight', 'max')">
                        <div>
                        Weight must not exceed 1000 lbs
                        </div>
                    </ng-container>
                </div>
                <button type="button" 
                        class="btn btn-primary btn-sm mt-2" 
                        (click)="addSet()"
                        [disabled]="isAddSetDisabled(i)">Add set</button>
            </div>
        </div>
         
        <div class="mt-2">
            <h3>Sets:</h3>
            <hr>
        </div>
        <div *ngFor="let groupedSet of groupedSets(); index as i">
            <div class="mt-1">
                <span *ngIf="groupedSet.count > 1">{{ groupedSet.count }} sets X {{ groupedSet.set.reps }} reps @{{groupedSet.set.weight}}lb</span>
                <span *ngIf="groupedSet.count === 1">{{ groupedSet.count }} set X {{ groupedSet.set.reps }} reps @{{groupedSet.set.weight}}lb</span>
                <button type="button" class="btn btn-primary btn-sm ms-2" (click)="copyCurrentSet(groupedSet.set)"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-danger btn-sm ms-2" (click)="removeCurrentSet(groupedSet.set)"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="handleCancel()">Cancel</button>
        <button [disabled]="this.addedSets.length===0" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>