<ng-container *ngIf="page$ | async as page">
  <div *ngIf="workouts.length > 0">
    <div class="row">
      <div class="row mt-5"></div>
      <div class="row mt-5"></div>
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-9">
            <ngb-pagination [(page)]="page.currentPage" [pageSize]="page.pageSize" [collectionSize]="page.totalElements"
              (pageChange)="onPageChange()" [maxSize]="3" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
          <div class="col-md-3">
            <div class="d-flex justify-content-end">
              <span class="mt-2">Page Size</span>
              <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
                <option selected="true">10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>