<section class="home d-flex align-items-center">
  <div class="video-overlay"></div>
  <video #video class="background-video position-absolute top-0 start-0" autoplay loop [muted]="true" playsinline>
    <source  [src]="videoSource" type="video/mp4">
    <!-- Add additional source elements for different video formats if needed -->
  </video>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="display-4 mb-4">Welcome to FitFam</h1>
        <p class="lead">Empower your fitness journey with weightlifting</p>
        <a routerLink="/guide" class="btn btn-primary btn-lg">Get Started</a>
      </div>
    </div>
  </div>
</section>
