<div *ngIf="exercises!.length > 0">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-9">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalElements"
              (pageChange)="onPageChange()" [maxSize]="3" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
          <div class="col-md-3">
            <div class="d-flex justify-content-end">
              <span class="mt-2">Page Size</span>
              <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
                <option selected="true">50</option>
                <option>75</option>
                <option>100</option>
                <option>125</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>